
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: "Lato", sans-serif;
}
.banner-section-container{
    background: rgba(229, 84, 115, 0.1);
    max-width: 1449;
    height: 555px;
    display: flex;
    /* border: 2px solid rebeccapurple; */
}
.banner-container{
    
    display: flex;
    width: 90%;
    margin: 0% auto;
    /* border: 2px solid seagreen; */
}
.banner-text-container{
    /* border: 2px solid blueviolet; */
    height: 555px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-text-container button{
    border-radius: 8px;
    background: rgb(229, 84, 115);
    margin-top: 15px;
    width: 140px;
    height: 40px;
}
.banner-text-container h1{
font-size: 60px;
}
.banner-photo_container{
    /* border:2px solid orange; */
    height: 480px;
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-photo_container img{
   width: 50%;
   height: 480px;
}
.featured-image-container{
    width: 90%;
    margin: 0% auto;
    height: 550px;
    margin-top: 140px;
    /* border: 2px solid rebeccapurple; */
}
.featured-text-contanier{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 50%;
    margin: 0% auto;
    
}
.featured-images{
    display: flex;
    gap: 20px;
    margin-top: 70px;
    /* border: 2px solid red; */
}
.frist-image,.second-image,.third-image
{
    height: 390px;
    width: 33%;
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    justify-items: center;
    align-items: center;
    border-radius: 50% 50% 0 0;
    
}
.third-image{
    border-radius: 50% 50% 0 0;
}
.frist-image img,.second-image img,.third-image img{
    width: 80%;
    height: 90%;
}

#frist{
    background-color:  rgba(167, 33, 98, 0.15);
}
#second{
   background-color:  rgba(5, 151, 160, 0.15);
 
}
#third{
    background-color: rgba(71, 125, 17, 0.15);
}
.office-work{
    width: 90%;
    margin: 0% auto;
    height: 240px;
    margin-top: 50px;
    /* border: 2px solid red; */
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
   

}

.Delivery,.support,.growers{
    width: 372px;
    height: 172px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.Delivery p,
.support p,.growers p{
    display:flex;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}
.discount{
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    width: 90%;
    margin: 0 auto;
    height: 420px;
    margin-top: 70px;
    /* border: 2px solid rebeccapurple; */
    display: flex
}
.discount-container{
    display: flex;
    width: 90%;
    margin: 0% auto;
}
.discount-text{
    height: 420px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discount-text p{
    margin-top: 10px;
}
.discount button{
    margin-top: 10px;
}
.discount-text button{
    border-radius: 8px;
    background: rgb(229, 84, 115);
    margin-top: 15px;
    width: 140px;
    height: 40px;
}
.discount-image-cobtainer{
    height: 420px;
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* = */
}
.Instagram-image-container{
    width: 90%;
    margin: 0% auto;
    height: 1050px;
    margin-top: 140px;
}
.Instagram-text-cantainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.Instagram-text-cantainer p{
    width: 594px;
    height: 60px;
    margin-top: 10px;
}
.insta-frist-image{
    width: 342px;
    height: 396px;
   border-radius: 5px;
}
.Instagram-image-contanier{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 30px;
     margin-top: 30px;
}
.deals{
    width: 90%;
    margin: 0% auto;
    height: 400px;
    background-image: url(../images/latest-deals-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.deals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#subsribe-btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: rgb(229, 84, 115);
    margin-top: 10px;
     
}
.deals input{
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 10px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-title {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.footer-title .highlight {
    color: #ff6384; /* Light pink color */
}

.footer-text {
    margin: 10px 0;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 0.9em;
}
